<section class="order-summary col-6">
  <div class="order-show card">
    <h3 class="order-modal-title card-header">Pedido</h3>
    <div class="card-body">
      <% @order.products.each do |p| %>
      <div class="product">
        <div class="product-title"><%= p.item_type %> (x<%= p.item.size %>)</div>
        <% p.item.toppings.each do |topping| %>
          <div class="product-description"><%= topping.name %></div>
        <% end %>
      </div>
      <% end %>
    <div class="card-footer d-flex justify-content-between">
      <h3 class="footer-title">
        Total:
      </h3>
      <h3 class="footer-title">
        <%= '@order.final_price' %>
      </h3>
    </div>
  </div>
  <div class="container d-flex justify-content-center p-0">
    <%= link_to 'Checkout', checkout_path, class: 'btn btn-outline-secondary btn-checkout col-12' %>
  </div>
</section>
